Web References/NST/TelecomImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://webservice.network.nyasamatelecom.nsdn.club/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="TelecomImplService" targetNamespace="http://webservice.network.nyasamatelecom.nsdn.club/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:32/api?xsd=1" namespace="http://webservice.network.nyasamatelecom.nsdn.club/" />
    </xsd:schema>
  </types>
  <message name="toDevice">
    <part name="parameters" element="tns:toDevice" />
  </message>
  <message name="toDeviceResponse">
    <part name="parameters" element="tns:toDeviceResponse" />
  </message>
  <message name="fromDevice">
    <part name="parameters" element="tns:fromDevice" />
  </message>
  <message name="fromDeviceResponse">
    <part name="parameters" element="tns:fromDeviceResponse" />
  </message>
  <message name="toDeviceExt">
    <part name="parameters" element="tns:toDeviceExt" />
  </message>
  <message name="toDeviceExtResponse">
    <part name="parameters" element="tns:toDeviceExtResponse" />
  </message>
  <message name="requestToken">
    <part name="parameters" element="tns:requestToken" />
  </message>
  <message name="requestTokenResponse">
    <part name="parameters" element="tns:requestTokenResponse" />
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping" />
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse" />
  </message>
  <portType name="TelecomImpl">
    <operation name="toDevice">
      <input wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/toDeviceRequest" message="tns:toDevice" />
      <output wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/toDeviceResponse" message="tns:toDeviceResponse" />
    </operation>
    <operation name="fromDevice">
      <input wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/fromDeviceRequest" message="tns:fromDevice" />
      <output wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/fromDeviceResponse" message="tns:fromDeviceResponse" />
    </operation>
    <operation name="toDeviceExt">
      <input wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/toDeviceExtRequest" message="tns:toDeviceExt" />
      <output wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/toDeviceExtResponse" message="tns:toDeviceExtResponse" />
    </operation>
    <operation name="requestToken">
      <input wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/requestTokenRequest" message="tns:requestToken" />
      <output wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/requestTokenResponse" message="tns:requestTokenResponse" />
    </operation>
    <operation name="ping">
      <input wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/pingRequest" message="tns:ping" />
      <output wsam:Action="http://webservice.network.nyasamatelecom.nsdn.club/TelecomImpl/pingResponse" message="tns:pingResponse" />
    </operation>
  </portType>
  <binding name="TelecomImplPortBinding" type="tns:TelecomImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="toDevice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="fromDevice">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="toDeviceExt">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="requestToken">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="TelecomImplService">
    <port name="TelecomImplPort" binding="tns:TelecomImplPortBinding">
      <soap:address location="http://localhost:32/api" />
    </port>
  </service>
</definitions>